.places__place-header {
    display: flex;

    margin: 0;
    margin-bottom: 48px;
}

@media screen and (max-width:1023px) {
    .places__place-header {
       flex-direction: column;
    }
    
}

@media screen and (max-width:768px) {
    .places__place-header {
        flex-direction: row;
     }
    
}

@media screen and (max-width:750px) {

    .places__place-header {
        flex-direction: column;
        margin-bottom: 32px;
    }

}