.places__place-main {
    display: flex;
}

@media screen and (max-width:1023px) {

    .places__place-main {
        flex-direction: column;
    }

}

@media screen and (max-width:768px) {

    .places__place-main {
        flex-direction: row;
    }

}

@media screen and (max-width:750px) {

    .places__place-main {
        flex-direction: column;
    }

}