.places__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    flex-basis: 460px;
    margin: 0;
    margin-right: 40px;

    color: #FFFFFF;

}

@media screen and (max-width:1024px) {
    .places__title {
        flex-basis: 440px; 
        margin: 0 32px 0 0;
    }
}

@media screen and (max-width:1023px) {
    .places__title {
        flex-basis: 0;
        margin-bottom: 32px;
        margin: auto;
        width: 90%;
        text-align: center;

    }
}

@media screen and (max-width:768px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
        flex-basis: 340px;
        text-align: start;
        margin: 0 28px 0 0;
        width: auto;
    }
}

@media screen and (max-width:750px) {
    .places__title {
        flex-basis: 0;
        margin-bottom: 32px;
        margin: auto;
        width: 90%;
        font-size: 32px;
        line-height: 35px;
        text-align: center;

    }
}

@media screen and (max-width:320px) {
    .places__title {
    
        text-align: start;

    }
}

