.lead {
    margin: 56px auto calc(72px + 1vw) auto;
    width: 93.5%;
    max-width: 984px;
}


@media screen and (max-width:320px) {
    .lead {
        margin: 48px auto calc(72px + 1vw) auto;
        max-width: 100%;
    }

}