.header__logo {
    background-image: url(./../../../images/header-logo.svg);
    width: 177px;
    height: 52px;
}

@media screen and (max-width:320px) {
    .header__logo {
        background-image: url(./../../../images/header-logo__320px.svg);
        width: 144px;
        height: 52px;
    }

}