.cover {
    background-image: url('./../../images/cover-trains.jpg');
    max-width: 1184px;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto calc(72px + 1vw) auto;
    box-sizing: border-box;
    width: 95%;
}

@media screen and (max-width:1024px) {
    .cover {
        width:100%;
    }
}
