.cover
{
    background-image: url('./../images/cover-trains.jpg');
    min-height: 74vh;
    background-size:cover;
    background-position: bottom;
    max-width: 95%;
    margin:0 auto 92px auto;

    box-sizing: border-box;
}