.footer {
    display: flex;
    justify-content: space-between;
    max-width: 93.5%;
    margin: auto;
    padding-bottom: 24px;
    align-items: center;
}


@media screen and (max-width:700px) {
    .footer {
        justify-content: baseline;
        align-items: baseline;
        flex-direction: column;
    }

}