.places__website {
   align-self: flex-end;
}

@media screen and (max-width:700px) {

   .places__website {
      margin: auto;
      text-align: center;
      width: 90%;
   }

}

@media screen and (max-width:320px) {
   .places__website {
      text-align: start;
   }

}